openapi: 3.0.0

info:
  title: Trashcan API
  version: 1.0.0
  description: API documentation for our intelligent trashcans

servers:
  - url: http://api.wurstkatze.eu/{version}
    description: Production
    variables:
      version:
        default: v1
        enum:
          - v1
  - url: http://localhost:4000/{version}
    description: Local
    variables:
      version:
        default: v1
        enum:
          - v1

tags:
  - name: Trashcans
    description: Operations related to trashcan data.
  - name: Server
    description: Server probes to get server status

paths:
  /livez:
    get:
      tags:
        - Server
      summary: Get liveness status of the server
      responses:
        '200':
          description: OK

  /readyz:
    get:
      tags:
        - Server
      summary: Get readyness status of the server
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error

  /trashcan-fill-height:
    post:
      tags:
        - Trashcans
      summary: Save trashcan data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - data
              properties:
                name:
                  type: string
                data:
                  type: number
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
    get:
      tags:
        - Trashcans
      summary: Get all trashcan data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - name
                    - data
                  properties:
                    name:
                      type: string
                    data:
                      type: number

  /trashcan-fill-height/{trashcanName}:
    get:
      tags:
        - Trashcans
      summary: Get data for a specific trashcan
      parameters:
        - name: trashcanName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - data
                properties:
                  name:
                    type: string
                  data:
                    type: number
        '404':
          description: Not Found

  /trashcan-fill-height/percentage:
    get:
      tags:
        - Trashcans
      summary: Get all trashcans with their fill percentage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    percentage:
                      type: number

  /trashcan-fill-height/percentage/{trashcanName}:
    get:
      tags:
        - Trashcans
      summary: Get fill percentage for a specific trashcan
      parameters:
        - name: trashcanName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  percentage:
                    type: number
        '404':
          description: Not Found
